---
import ArrowRightIcon from "./icons/ArrowRight.astro";
import { motion } from "framer-motion";
import { fadeIn } from "../variants";
import ArrowRight from "./icons/ArrowRight.astro";
---

<div class="h-full bg-primary/30">
  <div class="text-left xl:text-left flex h-full">
    <div class="flex flex-col w-full">
      <h2 class="h2 text-left my-10 text-2xl">
        Let's <span class="text-sky-800">connect.</span>
      </h2>
      <form class="flex flex-col items-center">
        <div class="sm:flex gap-x-6 mb-3">
          <input type="text" placeholder="enter your name" class="border p-2" />
        </div>
        <div class="mb-3">
          <input
            type="email"
            placeholder="enter a valid email address"
            class="w-full border p-2"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            placeholder="enter a subject"
            class="w-full border p-2"
          />
        </div>
        <div class="text-center mb-3">
          <textarea
            placeholder="enter your message"
            class="w-60 border p-2 resize-none text-white"></textarea>
          <button
            class="bg-white/5 border dark:border-white/10 border-gray-300 rounded-full max-w-[170px] inline-flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base transition hover:scale-110 hover:bg-white/10 overflow-hidden mx-4"
          >
            <span
              class="sm:items-center group-hover:-translate-y-[120%] group-hover:opacity-0 transition-all duration-150 text-base"
              >Let's talk</span
            >
            <ArrowRight />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
