---
import ExperienceItem from "@/components/ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Jul. 2023 - Nov. 2023",
    title: "Desarrollador Web Full Stack de E-commerce",
    description:
      "Desarrollador Web Full Stack para un proyecto de comercio electrónico. Participación en la creación y maquetado del frontend utilizando React & Material UI, implementando interfaces de usuario atractivas y receptivas.",
    responsibilities: [
      "Integración de APIs con Javascript & Express para el consumo y visualización de datos.",
      "Mejora de la interactividad y la experiencia del usuario.",
    ],
  },
  {
    date: "Ago. 2022 - Jun. 2023",
    title:
      "Desarrollo E-Commerce 'HyperStore' - Proyecto Integrador para Digital House",
    description:
      "Proyecto integrador realizado durante el curso en Digital House. Se desarrolló un E-Commerce completo llamado 'HyperStore', abarcando desde el maquetado hasta la implementación de funcionalidades clave.",
    responsibilities: [
      "Maquetado y estilos utilizando HTML, CSS y Bootstrap.",
      "Implementación de funcionalidades con Javascript, NodeJS y Express.",
      "Diseño y gestión de la base de datos utilizando MySQL y Sequelize.",
      "Colaboración activa en un entorno ágil utilizando metodologías SCRUM.",
    ],
  },  
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
